<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MisionTIC 2022</h5>
        <p class="grey-text text-lighten-4">Desarrollo de aplicaciones Web</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Miembros del equipo</h5>
        <ul>
          <li><a class="grey-text text-lighten-3">Laura Vanessa Bernal Castañeda</a></li>
          <li><a class="grey-text text-lighten-3">Monica Juliana Lopera Patiño</a></li>
          <li><a class="grey-text text-lighten-3">Jean Carlos Sanchez Acosta</a></li>
          <li><a class="grey-text text-lighten-3">Brayan Rolando Ovalle Sandoval</a></li>
          <li><a class="grey-text text-lighten-3">Jose Miguel Beltran Organista</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2021. Todos los derechos reservados
    <a class="grey-text text-lighten-4 right">Grupo 25 - Equipo 4</a>
    </div>
  </div>
</footer>
