<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MisionTIC 2022</h5>
          <p class="grey-text text-lighten-4">Desarrollo de aplicaciones Web</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros del equipo</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Laura</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Monica</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Carlos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Brayan</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Jose</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
